---
import Layout from "../../layouts/Layout.astro";
import Navigation from "../../components/Navigation.astro";
import Hamburger from "../../components/Hamburger.astro";
---

<script>
  import "../../scripts/menu.js";
</script>

<Layout title="Welcom to XPilot">
  <div id="home">
    <Hamburger />
    <Navigation lang="en"/>
    <main>
      <div class="content">
        <div class="title">
          <h1>XPilot Planning</h1>
          <p>Dev Team<span style="color:#0C4FFE">&lt;/&gt</span></p>
        </div>
        <div class="detail">
          <p>
            Hi👋～we are a team focused on the development of AutoPilot planning algorithms, from SenseTime@ai.
          </p>
          <p>
            We can reach NOP function with or without HD-Map. Happy to share some of the team's achievements in the field of decision-making and motion planning!
          </p>
        </div>
        <div class="button">
          <a href="#about">About Us</a>
        </div>
      </div>
    </main>
  </div>
  <div id="about">about</div>
</Layout>

<style>
  @media screen and (max-width: 499px) {
    .title h1, .title p {
      font-size: 40px !important;
      text-wrap: wrap !important;
      line-height: 60px;
    }
    .title h1 {
      line-height: 40px;
    }
    .detail {
      margin-top: 20px !important;
    }
  }
  #home,
  #about {
    width: 100vw;
    height: 100vh;
    padding: 20px 30px;
    background: url("../../public/images/bg-home.png") no-repeat;
    background-size: cover;
  }
  #about {
    background-image: url("../../public/images/bg-about.png");
  }
  main {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .title {
    line-height: 70px;
    font-family: "YouShe", sans-serif;
  }
  .title h1 {
    font-size: 60px;
    margin-bottom: -10px;
  }
  .title p {
    font-size: 60px;
  }
  .detail {
    font-family: "Duru-Sans", sans-serif;
    width: 70%;
    font-size: 16px;
    line-height: 1.6rem;
    margin-top: 30px;
  }
  .button {
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 56px;
    color: white;
    background-color: black;
    border-radius: 26px;
    text-align: center;
    line-height: 56px;
    margin-top: 70px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .button a {
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(228, 240, 255, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  .button:hover::before {
    left: 100%;
  }
</style>
